h1 {
    text-align: center;
    color: darkslateblue;
}
img.octocat {
    height: 200px;

}
.container {
    width: 800px;
    background-color: lightblue;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 20px;
}
.container2 {
    width: 800px;
    background-color: lightpink;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    margin-bottom: 20px;
}
.container3 {
    width: 800px;
    background-color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 20px;
}
.link {
    text-align: center;
}